<div id="all">
  <ion-row id="box">
    <img src="../../../assets/images/logo-small.png" alt="">
  </ion-row>

  <ion-row id="box">
    <ion-col>
      <ion-row id="box">
        <h3>Correo electronico</h3>
      </ion-row>
      <ion-row id="box">
        <input type="text" [(ngModel)]="this.user.email" name="email">
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row id="box">
    <ion-col>
      <ion-row id="box">
        <h3>Contraseña</h3>
      </ion-row>
      <ion-row id="box">
        <input type="password" [(ngModel)]="this.user.password" name="password">
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row id="box">
    <ion-col>
      <ion-row id="box">
        <button [disabled]="!this.user.email" class="boton" (click)="login()">Ingresar</button>
      </ion-row>
      <ion-row id="box">
        <a class="registrar" (click)="changeLogin()">Nuevo aquí?</a>
      </ion-row>
    </ion-col>
  </ion-row>
</div>