<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img [routerLink]="['/admin-home']" height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/user-home']">
      <ion-title>Fotos</ion-title>
      <ion-button color="danger" (click)="authService.SignOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col id="instrucciones">
      <h5 class="ion-text-center"> <b>¡Sube la foto de la basura que recogiste!</b> </h5>
      <h5 class="ion-text-center"> <b>Describe el residuo con ayuda de las etiquetas.</b> </h5>
      <p>Recibe tus Puntos</p>
      <p>(Recuerda que entre mejor describas tu foto más puntos ganas)</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col id="alignContent">
      
      <!-- UPLOAD IMAGE -->
      <ion-row *ngIf="!selectedImage">
        <ion-col size=12>
          <ion-row>
            <input type="file" name="file" class="inputfile" accept="image/jpeg" *ngIf="!selectedImage" #filePicker (change)="onFileChosen($event)" />
          </ion-row>
          <ion-row>
            <ion-button expand="block" fill="outline" color="primary" for="file" *ngIf="!selectedImage">Take Picture</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
      
      <!-- SHOW IMAGE UPLOADED -->
      <ion-row>
        <ion-img *ngIf="selectedImage" role="button" class="image" [src]="selectedImage"></ion-img>
      </ion-row>
      
      <!-- ADD TAGS -->
      <ion-row>
        <input type="text" (keyup.enter)="addTag()" [(ngModel)]="tag" [placeholder]=" tags.length === 0 ? 'Ingresa una etiqueta' : 'Ingresa otra etiqueta'">
      </ion-row>
      
      <!-- SHOW TAGS -->
      <h2 id="labelEtiquetas" *ngIf="tags.length > 0">ETIQUETAS</h2>
      <ion-row id="containerTags" *ngIf="tags.length > 0">
        <div id="tag" *ngFor="let tag of tags">
          <p>{{tag}}</p>
        </div>
      </ion-row>


      <!-- UPLOAD PHOTO FOR POINTS -->
      <ion-row *ngIf="selectedImage && tags.length > 0">
        <ion-col size=12>
          <ion-button expand="block" fill="outline" color="primary" (click)="create()">Enviar</ion-button>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/admin-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-row>
        <ion-icon name="aperture" [routerLink]="['/admin-camara']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Fotos</p>
      </ion-row>
    </ion-col>
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="checkbox-outline" [routerLink]="['/admin-images']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Validación</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>