<ion-row>

  <ion-card *ngFor="let photo of photos">
    <ion-card-header>
      <ion-card-title class="ion-bold">{{photo.user_name}}</ion-card-title>
      <ion-card-subtitle> {{photo.createdOn}}</ion-card-subtitle>
    </ion-card-header>
    <img [src]="photo.src">
    <ion-card-content>
      <ion-row>
        <ul>
          <li *ngFor="let tag of photo.tags">{{tag}}</li>
        </ul>
      </ion-row>
      <ion-row style="float: right; text-align: end;">
        <p id="puntosCard">
          <ion-icon name="leaf"></ion-icon> + {{photo.points}}
        </p>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-row>