#logoTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 5px !important;
}

.containerNumbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;

  h2 {
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
  }
}

.puntos {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;
  width: 150px;
  margin: 15px 0;

  border-radius: 50%;
  border: 8px solid #637d38;
  background-color: none;

  color: #637d38;
  font-size: 180%;

  ion-icon {
    color: #637d38 !important;
  }
}

.tags{
  list-style: none;
  color: #a8c328 !important;
  padding: 0 30px;
  font-size: 1.6rem;

  &_number{
    float: right;
    color: #637d38 !important;
  }
}

