#all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: 25vh;

  border: 1.5px solid green;

  // --ion-background-color: #12151b;
  // background-color: #12151b;
}

ion-tab-button {

}

.alignContainer {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}

ion-card-content {
  h1 {
    // color: #a8c328;}
    color: green;
    font-weight: 900;
    margin-bottom: 10px;
  }

  h1::first-letter {
    font-size: 110%;
  }

  h3 {
    color: grey;
  }
}

ion-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  align-self: flex-end;
}

ion-icon {
  color: #a8c328 !important;
  width: 2em;
  height: 2em;
  padding: 5px;
}

#coloring {
  align-items: flex-end;
  justify-content: flex-end;

  --ion-background-color: rgba(255,255,255,0.2) !important;
  background-color: rgba(255,255,255,0.2) !important;

  border-radius: 5px;
  margin-top: 10px;
}
