#logoTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 5px !important;
}

.containerNumbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;

  h2 {
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
  }
}

.puntos {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;
  width: 150px;
  margin: 15px 0;

  border-radius: 50%;
  border: 8px solid #637d38;
  background-color: none;

  color: #637d38;
  font-size: 180%;

  ion-icon {
    color: #637d38 !important;
  }

}

// NAVBAR

.navbarRow {
  display: flex;
}

.navbarCol {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  ion-icon {
    color: #a8c328 !important;
  }
  font-size: 200%;
}

#photoIcon {
  font-size: 300%;
}

#titleNavbar {
  margin: 5px 0;
  color: #a8c328;
  font-size: 12px;
}
