<ion-header>
  <ion-row id="logoTop">
    <img src="../../../assets/images/logo-small.png" alt="">
  </ion-row>
</ion-header>

<ion-content>
  Que pedo

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button [routerLink]="['/user-coupon']">
      <ion-icon name="barcode"></ion-icon>
      <ion-label style="color: grey;">Cupones</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/user-camera']">
      <ion-icon name="aperture"></ion-icon>
      <ion-label style="color: grey;">Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/user-profile']">
      <ion-icon name="person"></ion-icon>
      <ion-label style="color: grey;">Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>