<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img height="50" src="../../../assets/images/logo-small_negro.png" alt="">
      <ion-title>Inicio</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="containerNumbers">
    <div class="flex">
      <div class="f-50">
        <div class="puntos">
          <ion-icon name="bookmarks"></ion-icon> {{numberPhotos}}
        </div>
      </div>
    </div>
    <div class="f-50">
      <h3 padding class="ion-text-center">Total de Recolecciones</h3>
    </div>
  </ion-row>

  <ion-row class="containerNumbers">
    <div class="flex">
      <div class="f-50">
        <div class="puntos">
          <ion-icon name="bookmarks"></ion-icon> {{numberPhotosToday}}
        </div>
      </div>
    </div>
    <div class="f-50">
      <h3 padding class="ion-text-center">Recolecciones de Hoy</h3>
    </div>
  </ion-row>


  <ion-row>
    <ion-col padding>
      <h3 class="ion-text-center">Tags mas usados</h3>
      <ul class="tags">
        <li *ngFor="let tag of tags| slice:0:10"><ion-icon name="pricetag"></ion-icon> {{tag.text}}<span class="tags_number">{{tag.count}}</span></li>
      </ul>
    </ion-col>
  </ion-row>


</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/user-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-row>
        <ion-icon name="aperture" [routerLink]="['/user-camera']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Fotos</p>
      </ion-row>
    </ion-col>

    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="person" [routerLink]="['/user-profile']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Perfil</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>