<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img [routerLink]="['/admin-home']" height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/admin-home']">
      <ion-title> Cupones</ion-title>
      <ion-button color="danger" (click)="authService.SignOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/add-coupon']" class="container container_add">
    <ion-icon id="canjeo" class="add" name="add"></ion-icon>
  </ion-card>

  <ion-card *ngFor="let coupon of coupons" class="container">
    <ion-col size=3>
      <div id="puntos">
        <ion-icon name="leaf"></ion-icon> {{coupon.cost}}
      </div>
    </ion-col>
    <ion-col size=9>
      <ion-card-header>
        <ion-card-subtitle style="text-transform: uppercase !important">{{coupon.category}}</ion-card-subtitle>
        <ion-card-title>{{coupon.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{coupon.description}}</p>
        <ion-icon id="canjeo" name="trash" style="color: #ed5f67;" (click)="deleteCoupon(coupon)"></ion-icon>
        <ion-icon id="canjeo" name="create" style="color: #feb73c;" [routerLink]="['/add-coupon', coupon.$key]"></ion-icon>
      </ion-card-content>
    </ion-col>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/admin-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-row>
        <ion-icon name="aperture" [routerLink]="['/admin-camara']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Fotos</p>
      </ion-row>
    </ion-col>
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="checkbox-outline" [routerLink]="['/admin-images']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Validación</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>