<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/admin-home']">
      <ion-title> Cupones</ion-title>
      <ion-button color="primary" [routerLink]="['/add-coupon']">
        <ion-icon name="add" slot="icon-only">Agregar</ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let coupon of coupons" class="container">
    <ion-col size=3>
      <div class="puntos">
        <ion-icon name="leaf"></ion-icon> {{coupon.cost}}
      </div>
    </ion-col>
    <ion-col size=9>
      <ion-card-header>
        <ion-card-subtitle style="text-transform: uppercase !important">{{coupon.category}}</ion-card-subtitle>
        <ion-card-title>{{coupon.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{coupon.description}}</p>
        <ion-icon id="canjeo" name="trash" style="color: #ed5f67;" (click)="deleteCoupon(coupon)"></ion-icon>
        <ion-icon id="canjeo" name="create" style="color: #feb73c;" [routerLink]="['/add-coupon', coupon.$key]"></ion-icon>
      </ion-card-content>
    </ion-col>
  </ion-card>

  <ion-card [routerLink]="['/add-coupon']" class="container container_add">
    <ion-icon id="canjeo" class="add" name="add"></ion-icon>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" style="color: grey !important;"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar" style="color: grey !important;">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col class="navbarCol">
      <ion-row>
        <ion-icon name="camera" [routerLink]="['/admin-images']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Imagenes</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>