.navbarRow {
  display: flex;
}

.navbarCol {
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
  color: #8fe326 !important;
  font-size: 200%;
}

#photoIcon {
  font-size: 300%;
}
