<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/user-home']">
      <ion-title>Perfil</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- PUNTOS -->
  <ion-row class="container">
    <div class="puntos">
      <ion-icon name="leaf"></ion-icon> 15
    </div>
  </ion-row>

  <!-- DATOS -->
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col>
          <p id="label">Nombre: </p>
        </ion-col>
        <ion-col>
          <p id="value">Joan Andoni</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p id="label">Correo: </p>
        </ion-col>
        <ion-col>
          <p id="value">mcr_joan@hotmai.com</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p id="label">Usuario desde: </p>
        </ion-col>
        <ion-col>
          <p id="value">20/07/2019</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- IMAGENES -->
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-bold">Joan Andoni</ion-card-title>
        <ion-card-subtitle> 21/07/2019</ion-card-subtitle>
      </ion-card-header>
      <img src="http://ecolonia.mx/images/recoleccion.png">
      <ion-card-content>
        <ion-row>
          <p>Reciclaje de dos botellas de agua en la condesa</p>
        </ion-row>
        <ion-row style="float: right; text-align: end;">
          <p id="puntosCard">
            <ion-icon name="leaf"></ion-icon> 24+
          </p>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <!-- BUTTON LOGOUT -->
  <ion-row>
    <ion-col size=12>
      <ion-button expand="block" fill="outline" color="danger">Cerrar sesión</ion-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/user-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-row>
        <ion-icon name="aperture" [routerLink]="['/user-camera']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Fotos</p>
      </ion-row>
    </ion-col>

    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="person" style="color: grey !important;"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar" style="color: grey !important;">Perfil</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>