.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
}

.puntos {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 200px;
  margin: 20px 0;

  border-radius: 50%;
  border: 13px solid #637d38;
  background-color: none;

  color: #637d38;
  font-size: 350%;

  ion-icon {
    color: #637d38 !important;
  }
}

ion-card-title {
  color: green !important;
  font-weight: 900;
  font-size: 150%;
}

#puntosCard {
  margin: 10px;
  font-size: 150%;
  float: right;
  color: green;
}

#label {
  text-align: right;
  color: #637d38;
}

#value {
  color: green;
}

.navbarRow {
  display: flex;
}

.navbarCol {
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
  color: #8fe326 !important;
  font-size: 200%;
}

#photoIcon {
  font-size: 300%;
}
