<ion-card class="container">
  <ion-col size=3>
    <div class="puntos">
      <ion-icon name="leaf"></ion-icon> 15
    </div>
  </ion-col>
  <ion-col size=9>
    <ion-card-header>
      <ion-card-subtitle style="text-transform: uppercase !important">Comida</ion-card-subtitle>
      <ion-card-title>VIPS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Te hacemos descuento de 30% si tu compra es mayor a $200, y te regalamos el pastel de tu elección.</p>
      <ion-icon id="canjeo" name="cloud-download"></ion-icon>
    </ion-card-content>
  </ion-col>
</ion-card>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-icon name="barcode" [routerLink]="['/user-coupon']"></ion-icon>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-icon name="aperture" [routerLink]="['/camera']"></ion-icon>
    </ion-col>

    <ion-col size="4.5" class="navbarCol">
      <ion-icon name="person" [routerLink]="['/user-profile']"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>