<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img [routerLink]="['/user-home']" height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/user-home']">
      <ion-title>Cupones</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col id="instrucciones">
      <p>¡Nuestros patrocinadores quieren mantener nuestras calles más limpias!</p>
      <p>Canjea los puntos que recibiste por cupones de consumo</p>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let coupon of coupons" class="container">
    <ion-col size=3>
      <div id="puntos">
        <ion-icon name="leaf"></ion-icon> {{coupon.cost}}
      </div>
    </ion-col>
    <ion-col size=9>
      <ion-card-header>
        <ion-card-subtitle style="text-transform: uppercase !important">{{coupon.category}}</ion-card-subtitle>
        <ion-card-title>{{coupon.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{coupon.description}}</p>
        <ion-icon id="canjeo" name="download" style="color: #466c1d;" (click)="downloadCoupon(coupon.$key)"></ion-icon>
      </ion-card-content>
    </ion-col>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" style="color: grey !important;"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar" style="color: grey !important;">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-row>
        <ion-icon name="aperture" [routerLink]="['/user-camera']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Fotos</p>
      </ion-row>
    </ion-col>

    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="person" [routerLink]="['/user-profile']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Perfil</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>