#all {
  --ion-background-color: #12151b;
  background-color: #12151b;
  height: auto;
  min-height: 100vh;
}

.puntos {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 80px;
  margin: 10px;

  border-radius: 50%;
  // border: 3px solid #a8c328;
  border: 5px solid white;
  background-color: #637d38;

  // color: #a8c328;
  color: white;
  font-size: 26px;
}

ion-card-title {
  color: #466c1d;
  font-weight: 900;
  font-size: 2.5em;
}

ion-card-title::first-letter {
  font-size: 115%;
}

ion-card-subtitle {
  text-transform: capitalize;
  font-size: 125%;
  color: rgba(255,255,255,0.6);
  align-self: flex-end;
  float:right;
}

ion-card-subtitle::first-letter {
  font-size: 120%;
}

.container {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: auto;

  --ion-background-color: rgba(170, 182, 70, 1);
  background-color: rgba(170, 182, 70, 1);
}


ion-card-content {
  color: rgba(255,255,255,0.85);
  ion-icon {
    color: #466c1d;
  }
}

#canjeo {
  display: flex;
  flex-direction: row;
  float: right;
  margin: 10px 5px;
  font-size: 250%;
}

#navbar {
  // position: fixed;
  position: relative;
  overflow: auto;

  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  background-color: transparent;
  --ion-background-color: transparent;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  color: white;
  font-size: 200%;

  .iconBox {
    display: flex;
    align-items: center;
    justify-content: center;

    // Icons align
    text-align: center;
    line-height: 0;
    vertical-align: middle;

    // Box style
    border-radius: 50%;
    background-color: #a8c328 !important;

    height: 50px;
    width: 50px;

    &_photo {
      height: 80px;
      width: 80px;

      // Icon photo style
      #photoIcon {
        font-size: 200%;
      }
    }
  }

}
