#logoTop {
  display: flex;
  align-items: center;
  justify-content: center;

  --ion-background-color: #12151b;
  background-color: #12151b;

  padding: 5px !important;
}

#instrucciones {
  p {
    color: grey;
    text-align: center;
    margin: 8px 0;
  }
}

#all {
  --ion-background-color: #12151b;
  background-color: #12151b;
  height: auto;
  min-height: 100vh;
}

.puntos {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 80px;
  margin: 10px;

  border-radius: 50%;
  // border: 3px solid #a8c328;
  border: 5px solid white;
  background-color: #637d38;

  // color: #a8c328;
  color: white;
  font-size: 26px;
}

ion-card-title {
  color: #466c1d;
  font-weight: 900;
  font-size: 2.5em;
}

ion-card-title::first-letter {
  font-size: 115%;
}

ion-card-subtitle {
  text-transform: capitalize;
  font-size: 125%;
  color: rgba(255,255,255,0.6);
  align-self: flex-end;
  float:right;
}

ion-card-subtitle::first-letter {
  font-size: 120%;
}

.container {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  height: auto;

  --ion-background-color: rgba(170, 182, 70, 1);
  background-color: rgba(170, 182, 70, 1);
}


ion-card-content {
  color: rgba(255,255,255,0.85);
  ion-icon {
    color: #466c1d;
  }
}

#canjeo {
  display: flex;
  flex-direction: row;
  float: right;
  margin: 10px 5px;
  font-size: 250%;
}

// NAVBAR

.navbarRow {
  display: flex;
}

.navbarCol {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  ion-icon {
    color: #a8c328 !important;
  }
  font-size: 200%;
}

#photoIcon {
  font-size: 300%;
}

#titleNavbar {
  margin: 5px 0;
  color: #a8c328;
  font-size: 12px;
}
