#logoTop {
  display: flex;
  align-items: center;
  justify-content: center;

  --ion-background-color: #12151b;
  background-color: #12151b;

  padding: 5px !important;
}

ion-tab-button {
  ion-icon {
    color: #a8c328;
    font-size: 20px;
  }
}
