#logoTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 5px !important;
}

// NAVBAR

.navbarRow {
  display: flex;
}

.navbarCol {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  ion-icon {
    color: #a8c328 !important;
  }
  font-size: 200%;
}

#titleNavbar {
  margin: 5px 0;
  color: #a8c328;
  font-size: 12px;
}
