<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img height="50" src="../../../assets/images/logo-small_negro.png" alt="">
      <ion-title>Inicio</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  Something
</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/admin-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col class="navbarCol">
      <ion-row>
        <ion-icon name="camera" [routerLink]="['/admin-images']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Imagenes</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>