.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
}

.puntos {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 200px;
  margin: 20px 0;

  border-radius: 50%;
  border: 13px solid #637d38;
  background-color: none;

  color: #637d38;
  font-size: 350%;

  ion-icon {
    color: #637d38 !important;
  }
}

ion-card-title {
  color: green !important;
  font-weight: 900;
  font-size: 150%;
}

#puntosCard {
  margin: 10px;
  font-size: 150%;
  float: right;
  color: green;
}

#label {
  text-align: right;
  color: #637d38;
}

#value {
  color: green;
}

#inputNumber {
  text-align: center;
  height: fit-content;
  margin-top: 13px !important;
  width: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #a8c328;

  &:focus {
    outline: none !important;
    border-color: none;
  }
}

.iconsAccept {
  margin: 8px;
  font-size: 2.5em;
  float: right;
}


#navbar {
  // position: fixed;
  position: relative;
  overflow: auto;

  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: auto;
  padding: 5px;
  background-color: transparent;
  --ion-background-color: transparent;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  color: white;
  font-size: 200%;

  .iconBox {
    display: flex;
    align-items: center;
    justify-content: center;

    // Icons align
    text-align: center;
    line-height: 0;
    vertical-align: middle;

    // Box style
    border-radius: 50%;
    background-color: #a8c328 !important;

    height: 50px;
    width: 50px;

    &_photo {
      height: 80px;
      width: 80px;

      // Icon photo style
      #photoIcon {
        font-size: 200%;
      }
    }
  }

}
