<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img [routerLink]="['/admin-home']" height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/admin-home']">
      <ion-title>Imagenes</ion-title>
      <ion-button color="danger" (click)="authService.SignOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- IMAGENES -->
  <ion-row>
    <ion-card *ngFor="let photo of photos">
      <ion-card-header>
        <ion-card-title class="ion-bold">{{photo.user_name}}</ion-card-title>
        <ion-card-subtitle> {{photo.createdOn}}</ion-card-subtitle>
      </ion-card-header>
      <img [src]="photo.src">
      <ion-card-content>
        <ion-row>
          <ul>
            <li *ngFor="let tag of photo.tags">{{tag}}</li>
          </ul>
        </ion-row>
        <ion-row style="float: right; text-align: end;">
          <p id="puntosCard">
            <ion-icon name="leaf"></ion-icon> +
          </p>
          <input id="inputNumber" type="number" name="points" [(ngModel)]="photo.points">
        </ion-row>
        <ion-row style="float: left; text-align: end;" class="iconsAccept">
          <ion-icon type="" name="checkmark" style="color: green;"></ion-icon>
          <ion-icon name="close" style="color: #ed5f67;" (click)="deletePhoto(photo)"></ion-icon>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-row>



</ion-content>
<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/admin-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-row>
        <ion-icon name="aperture" [routerLink]="['/admin-camara']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Fotos</p>
      </ion-row>
    </ion-col>
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="checkbox-outline" [routerLink]="['/admin-images']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Validación</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>