<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/admin-home']">
      <ion-title>Imagenes</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- IMAGENES -->
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-bold">Joan Andoni</ion-card-title>
        <ion-card-subtitle> 21/07/2019</ion-card-subtitle>
      </ion-card-header>
      <img src="http://ecolonia.mx/images/recoleccion.png">
      <ion-card-content>
        <ion-row>
          <p>Reciclaje de dos botellas de agua en la condesa</p>
        </ion-row>
        <ion-row style="float: right; text-align: end;">
          <p id="puntosCard">
            <ion-icon name="leaf"></ion-icon> +
          </p>
          <input id="inputNumber" type="number" name="points" value="20">
        </ion-row>
        <ion-row style="float: left; text-align: end;" class="iconsAccept">
          <ion-icon name="checkmark" style="color: green;"></ion-icon>
          <ion-icon name="close" style="color: #ed5f67;"></ion-icon>
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card *ngFor="let photo of photos">
      <ion-card-header>
        <ion-card-title class="ion-bold">{{photo.user_name}}</ion-card-title>
        <ion-card-subtitle> {{photo.createdOn}}</ion-card-subtitle>
      </ion-card-header>
      <img [src]="photo.src">
      <ion-card-content>
        <ion-row>
          <ul>
            <li *ngFor="let tag of photo.tags">{{tag}}</li>
          </ul>
        </ion-row>
        <ion-row style="float: right; text-align: end;">
          <p id="puntosCard">
            <ion-icon name="leaf"></ion-icon> +
          </p>
          <input id="inputNumber" type="number" name="points" [(ngModel)]="photo.points">
        </ion-row>
        <ion-row style="float: left; text-align: end;" class="iconsAccept">
          <ion-icon type="" name="checkmark" style="color: green;"></ion-icon>
          <ion-icon name="close" style="color: #ed5f67;" (click)="deletePhoto(photo)"></ion-icon>
        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-row>



</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/admin-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col class="navbarCol">
      <ion-row>
        <ion-icon name="camera" style="color: grey !important;"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar" style="color: grey !important;">Imagenes</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>