<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img [routerLink]="['/admin-home']" height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/admin-home']">
      <ion-title>Imagenes</ion-title>
      <ion-button color="danger" (click)="authService.SignOut()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size=12>
      <ion-button expand="block" fill="outline" color="primary" (click)="viewImages(1)">Imagenes para checar</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size=12>
      <ion-button expand="block" fill="outline" color="primary" (click)="viewImages(2)">Imagenes chequeadas</ion-button>
    </ion-col>
  </ion-row>

  <!-- IMAGENES TO CHECK -->
  <ion-row *ngIf="photosCheck.length > 0 && images === 1">
    <ion-card *ngFor="let photo of photosCheck; let i = index">
      <ion-card-header>
        <ion-card-title class="ion-bold">{{photo.user_name}}</ion-card-title>
        <ion-card-subtitle> {{photo.createdOn}}</ion-card-subtitle>
      </ion-card-header>
      <img [src]="photo.src">
      <ion-card-content>
        <ion-row *ngFor="let tag of photo.tags; let i2 = index">
          <ion-col size=10>
            <p>{{tag}}</p>
          </ion-col>
          <ion-col size=1>
            <ion-icon name="create" style="color: #feb73c;" (click)="getTagToUpdate(photo.user_id, tag, i, i2)"></ion-icon>
          </ion-col>
          <ion-col size=1>
            <ion-icon name="trash" style="color: #ed5f67;" (click)="getTagToDelete(photo.user_id, tag, i, i2)"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="float: right; text-align: end;">
          <p id="puntosCard">
            <ion-icon name="leaf"></ion-icon> +
          </p>
          <input id="inputNumber" type="number" name="points" [(ngModel)]="photo.points">
        </ion-row>
        <ion-row style="float: left; text-align: end;" class="iconsAccept">
          <ion-icon type="" name="checkmark" style="color: green;" (click)="updatePoints(photo, i)"></ion-icon>
          <ion-icon name="close" style="color: #ed5f67;" (click)="deletePhoto(photo)"></ion-icon>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <!-- IMAGENES CHECKED -->
  <ion-row *ngIf="photosChecked.length > 0 && images === 2">
    <ion-card *ngFor="let photo of photosChecked; let i = index">
      <ion-card-header>
        <ion-card-title class="ion-bold">{{photo.user_name}}</ion-card-title>
        <ion-card-subtitle> {{photo.createdOn}}</ion-card-subtitle>
      </ion-card-header>
      <img [src]="photo.src">
      <ion-card-content>
        <ion-row>
          <ul>
            <li *ngFor="let tag of photo.tags">{{tag}}</li>
          </ul>
        </ion-row>
        <ion-row style="float: right; text-align: end;">
          <p id="puntosCard">
            <ion-icon name="leaf"></ion-icon> +
          </p>
          <input id="inputNumber" type="number" name="points" [(ngModel)]="photo.points">
        </ion-row>
        <ion-row style="float: left; text-align: end;" class="iconsAccept">
          <ion-icon type="" name="checkmark" style="color: green;" (click)="updatePoints(photo, i)"></ion-icon>
          <ion-icon name="close" style="color: #ed5f67;" (click)="deletePhoto(photo)"></ion-icon>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <!-- NO HAY IMAGENES -->
  <ion-row id="noPhotos" *ngIf="photosCheck.length === 0 && images === 1">
    <h1>No hay fotos para checar</h1>
  </ion-row>

  <!-- NO HAY IMAGENES -->
  <ion-row id="noPhotos" *ngIf="photosChecked.length === 0 && images === 2">
    <h1>No hay fotos para checar</h1>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/admin-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-row>
        <ion-icon name="aperture" [routerLink]="['/admin-camara']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Fotos</p>
      </ion-row>
    </ion-col>
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="checkbox-outline" [routerLink]="['/admin-images']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Validación</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>