<ion-content>
<div id="all">
  <ion-row>
    <img src="../../assets/images/logo-blanco.png" alt="">
  </ion-row>
  <ion-row id="aligmentTexts">
    <ion-col size=12 id="time_line">
      <div class="box-class">
        <span class="text-up">Si ves una basura en el piso,</span>
      </div>
      <ion-row id="box">
        <div class="numberCircle">1</div><span class="text">Recógela</span>
      </ion-row>
      <ion-row id="line"></ion-row>
      <ion-row id="box">
        <div class="numberCircle">2</div><span class="text">Sube la foto</span>
      </ion-row>
      <ion-row id="line"></ion-row>
      <ion-row id="box">
        <div class="numberCircle">3</div><span class="text">Recibe tus puntos</span>
      </ion-row>
      <ion-row id="line"></ion-row>
      <ion-row id="box">
        <div class="numberCircle">4</div><span class="text">Canjéalos por cupones</span>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-row id="box">
        <a class="boton" [routerLink]="['/auth']">Ingresar</a>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
</ion-content>