<ion-header>
  <ion-toolbar>
    <ion-row id="logoTop">
      <img height="50" src="../../../assets/images/logo-small_negro.png" alt="" [routerLink]="['/user-home']">
      <ion-title>Fotos</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col id="instrucciones">
      <p>¡Sube la foto de la basura que recogiste!</p>
      <p>Describe el residuo con ayuda de las etiquetas.</p>
      <p>Recibe tus Puntos</p>
      <p>(Recuerda que entre mejor describas tu foto más puntos ganas)</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col id="alignContent">
      <ion-row>
        <input type="text" [(ngModel)]="text" placeholder="Titulo de la foto">
      </ion-row>
      <ion-row>
        <a class="boton" (click)="takePhoto()">Tomar foto</a>
      </ion-row>
      <ion-row>
        <p align="center"><img src="{{myPhoto}}"></p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="navbarRow">
    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="barcode" [routerLink]="['/user-coupon']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Cupones</p>
      </ion-row>
    </ion-col>

    <ion-col id="photoIcon" size="3" class="navbarCol">
      <ion-row>
        <ion-icon name="aperture"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Fotos</p>
      </ion-row>
    </ion-col>

    <ion-col size="4.5" class="navbarCol">
      <ion-row>
        <ion-icon name="person" [routerLink]="['/user-profile']"></ion-icon>
      </ion-row>
      <ion-row>
        <p id="titleNavbar">Perfil</p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>