#alignContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 30px !important;
  font-size: 22px;
  text-align: center;
  padding: 7px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #a8c328;
  margin: 10px 0;
  width: 80vw;
}

input:focus {
  outline: none !important;
  border-color: none;
}

.boton {
  // Size Box
  width: 70vw;
  height: 120%;
  padding: 10px;
  margin: 20px 0;

  // Style box
  border: none;
  border-radius: 4px;
  background-color: rgba(170, 182, 70, 0.7);

  // Text in box
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#navbar {
  // position: fixed;
  position: relative;
  overflow: auto;

  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  background-color: transparent;
  --ion-background-color: transparent;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  color: white;
  font-size: 200%;

  .iconBox {
    display: flex;
    align-items: center;
    justify-content: center;

    // Icons align
    text-align: center;
    line-height: 0;
    vertical-align: middle;

    // Box style
    border-radius: 50%;
    background-color: #8fe326 !important;

    height: 50px;
    width: 50px;

    &_photo {
      height: 80px;
      width: 80px;

      // Icon photo style
      #photoIcon {
        font-size: 200%;
      }
    }
  }

}
