<ion-header>
  <ion-row id="logoTop">
    <img src="../../../assets/images/logo-small.png" alt="">
  </ion-row>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col id="instrucciones">
      <p>¡Sube la foto de la basura que recogiste!</p>
      <p>Describe el residuo con ayuda de las etiquetas.</p>
      <p>Recibe tus Puntos</p>
      <p>(Recuerda que entre mejor describas tu foto más puntos ganas)</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col id="alignContent">
      <ion-row>
        <input type="text" [(ngModel)]="text" placeholder="Titulo de la foto">
      </ion-row>
      <ion-row>
        <a class="boton" (click)="takePhoto()">Tomar foto</a>
      </ion-row>
      <ion-row>
        <p align="center"><img src="{{myPhoto}}"></p>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">

    <ion-tab-button [routerLink]="['/user-coupon']">
      <ion-icon name="barcode"></ion-icon>
      <ion-label style="color: grey;">Cupones</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="aperture"></ion-icon>
      <ion-label style="color: grey;">Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/user-profile']">
      <ion-icon name="person"></ion-icon>
      <ion-label style="color: grey;">Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>