<ion-content>
  <ion-col id="alignContent">

    <ion-row>
      <input type="text" [(ngModel)]="text" placeholder="Titulo de la foto">
    </ion-row>

    <ion-row>
      <a class="boton" (click)="takePhoto()">Tomar foto</a>
    </ion-row>

    <ion-row>
      <p align="center"><img src="{{myPhoto}}"></p>
    </ion-row>

  </ion-col>
</ion-content>

<ion-footer id="navbar">
  <div class="iconBox">
    <ion-icon name="barcode" [routerLink]="['/user-coupon']"></ion-icon>
  </div>
  <div class="iconBox iconBox_photo">
    <ion-icon id="photoIcon" name="aperture" [routerLink]="['/camera']"></ion-icon>
  </div>
  <div class="iconBox">
    <ion-icon name="person" [routerLink]="['/user-profile']"></ion-icon>
  </div>
</ion-footer>